
.artist {
  border: 4px solid black;
  display: inline-block;
  background-color: #EEEEEE;
  margin: 1em;
  padding: 1em;
  width: 240px;
  height: 140px;
  float: left;
  border-radius: 5px;
}

.belt-teal {
  background-color: teal;
}

.belt-blue {
  background-color: blue;
}

.belt-maroon {
  background-color: maroon;
}

.belt-lime {
  background-color: lime;
}

.belt-black {
  background-color: black;
}

.belt-azure {
  background-color: azure;
}

.belt-pink {
  background-color: pink;
}

.belt-olive {
  background-color: olive;
}

.belt-turquoise {
  background-color: turquoise;
}

.belt-orange {
  background-color: orange;
}

.belt-mint {
  background-color: green;
}

.clearfix {
  overflow: auto;
}