<%= root_url%>

<div class="jumbotron">
  <h1>Categories</h1>
</div>

<% @categories.each do |category| %>
  <h2><%= category.name %></h2>
  <div class="clearfix">
    <% category.artists.each do |artist| %>
    <%= erb :'/shared/_artist', locals: { artist: artist } %>
    <% end %>
  </div>
<% end %>
