<%= root_url%>

<div class="jumbotron">
  <h1>Belts</h1>
</div>

<% @belts.each do |belt| %>
  <h2><%= belt.color.capitalize %></h2>
  <div class="belt-<%= belt.color %> clearfix">
    <% belt.artists.each do |artist| %>
      <%= erb :'shared/_artist', locals: { artist: artist } %>
    <% end %>
  </div>
<% end %>
